@import "../../responsive.scss";

.logInPageContainer {
  display: flex;

  background: rgba(255, 249, 249, 1);

  overflow: hidden;

  height: 100vh;
  gap: 0 203px;

  .left {
    flex: 1;
    @include lg {
      flex: 2;
    }

    .mobBg {
      display: none;
      @include md {
        display: flex;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
      }

      img {
        object-fit: cover;
      }
    }

    .Content {
      display: flex;
      background-color: transparent;
      height: 100vh;
      justify-content: center;
      align-items: center;

      .wrapper {
        display: flex;
        flex-direction: column;
        width: 370px;
        text-align: center;
        align-items: center;
        gap: 16px 0;

        .titleContainer {
          display: flex;
          gap: 0 10px;
          h1 {
            color: rgba(123, 25, 132, 1);
          }
        }

        p {
          font-size: 14px;
        }

        button {
          display: flex;
          align-items: center;
          width: max-content;
          padding: 10px 40px;
          border-radius: 16px;
          background-color: rgba(0, 0, 0, 0.9);
          font-weight: 500;
          color: white;
          gap: 0 10px;
          cursor: pointer;
        }
      }
    }
  }

  .right {
    flex: 1;
    display: flex;

    @include md {
      display: none;
    }

    .bigScreenBg {
      display: flex;

      .taskImg {
        position: absolute;
        height: 100%;
      }

      .circle {
        right: 0;
        z-index: 2;
      }

      .table {
        position: absolute;
        z-index: 10;
        top: 7%;
        right: 0;
        width: 42%;
        height: 85%;
        @include lg {
          width: 40%;
          height: 85%;
        }
      }
    }
  }
}
